*{
    padding: 0;
    margin: 0;
    /* background: #E5E5E5;  */
    font-family: 'IBM Plex Sans';
    /* z-index: -1; */
    overflow-x: hidden;
}
.mh{
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    overflow-x: hidden;
}
.mhlogo{
    width: 162.57px;
    height: 24px;
    padding-left: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.mhsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 42px;
    margin-top: 16px;
    margin-bottom: 14px;
    background: #F2F2F2;
    color: #5C5C5C;
    outline: 0;
    border: 0;
    border-radius: 21px;
}
.mhsearchicon{
    padding: 10px 14px;
}
.mhsearchinput{
    border: 0;
    background-color: transparent;
    text-decoration: none;
    width: 360px;
    height: 42px;
    font-size: 14px;
    line-height: 18px;    
    /* background-color: blueviolet; */
}
.mhright{
    padding-top: 26px;
    padding-bottom: 22px;
    padding-right:72px;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    font-weight: 500;
    color: #2E2E2E;
}

.mhfree{
    color: blue;
    cursor: pointer;
}
.mhbottomimg{
    background: url(images/main.png);
    height: 440px;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backimg{
    position: relative;
    background:transparent;
    width: 100%;
    height: 100%;
}   
.backimg:before{
    content: '';
    position: absolute;
    width: 100%;
    background:rgba(0,0,0,0.5);
    height: 440px;
    /* z-index: -1; */
}   
.backimg .mhimgtext{
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    padding-left: 200px;
    padding-top: 286px;
}
.mhimgsmalltext{
    font-weight: 400;
    padding-left: 200px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 4px;
}

.imgbelow{
    width: 1040px;
    margin: 40px 200px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;;
}
.tabs{
    width: 358px;
    display: flex;
    justify-content: space-between;
}
.tabscontent{
    
    /* padding: 20px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8A8A8A;
}
.imgbelowbuttons{
    margin-bottom: 12px;
}
.writepost, .joingroup{
    padding: 7px 6px 7px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.writepost{
    background-color: #EDEEF0;
    border: none;
    background: #EDEEF0;
    border-radius: 4px;
}
.joingroup{
    color: white;
    background: #2F6CE5;
    border-radius: 4px;
    border: none;
    margin-left: 12px;
}
.mcards{
    /* margin: 16px 200px; */
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    width: 692px;
    /* height: 472px; */
}
.cardscontent{
    padding: 20px;
}
.smalltitle{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

color: #000000;
}
.maintitlecontent{
    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 134.17%;
/* or 30px */

width: 600px;
height: 60px;

color: #000000;
}
.maintitle{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 12px 0px;
    
}
.dots{
    position: relative;
    margin-left: 24px;
    width: 28px;
height: 28px;
}
.majorcontent{
    width: 652px;
height: 25px;
    font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 134.17%;
margin-bottom: 32px;
color: #5C5C5C;
text-overflow: ellipsis;
overflow: hidden;
}
.lastdiv{
    display: flex;
    justify-content: space-between;
}
.profilename{
    font-weight: 600;
font-size: 18px;
line-height: 23px;
padding-left: 10px;
color: #000000;
}
.leftprofile, .rightprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.views{
    margin-left: 8px;
}
.share{
    margin-left: 40px;
    /* border: 1px solid black; */
    background-color: #A9AEB8;
    width: 42px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEEF0;
    border-radius: 2px;
}
.datetime{
    display: flex;
    margin-bottom: 16px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.venue{
    margin-left: 40px;
}
.largebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 652px;
    height: 38px;
    margin-bottom: 32px;
    text-align: center;
    color: #E56135;
    border: 0.7px dashed #A9AEB8;
    border-radius: 8px;
}
.green{
    color: #02B875;
}
.outercards{
    margin: 16px 200px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;    */
}
.uppercardsright{
    /* margin-right: 200px; */
    
}
.uppercardsrightcontent{
    display: flex;
    justify-content: space-between;
    width: 243px;
}
.style{
    position: absolute;
    left: 700px;
    top: 930px;
    width: 160px;
    height: 102px;
    background-color: #000000;
    /* margin-top: 25px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.frame1{
    visibility: hidden;
}
.dotsstyle{
    background: #BFC0C0;
    border-radius: 4px;
    transform: rotate(-180deg);
}
.overlay{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    /* visibility: hidden; */
}
.showoverlay{
    opacity: 1;
    z-index: 1;
}
.greenline{
    width: 736px;
height: 50px;
left: 352px;
top: 186px;

background: #EFFFF4;
border-radius: 8px 8px 0px 0px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;

color: #008A45;
padding: 17px 59px;
}
.signup{
    overflow: visible;
    /* opacity: 0; */
    transition: 1s;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width: 736px;
    height: 513px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 900000;
}
.showsigninform{
    top: 50%;
}
.belowgreenline{
    display: flex;
}
.leftside{
    /* border: 1px solid red; */
    margin: 24px 30px;
    width: 320px;
    height: 403px;
}
.leftside h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
}
.leftside form{
    width: 320px;
    /* height: 240px; */
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
    margin: 24px 0;
}
.firstlastname{
    display: flex;
}
.firstname, .lastname{
    background: #F7F8FA;
border: 1px solid #D9D9DB;
    max-height: 45px;
    width:160px;
    padding: 12px;
    padding-left: 15px;
}
.email, .password, .confirmpassword{
    background: #F7F8FA;
border: 1px solid #D9D9DB;
    max-height: 45px;
    width: 100%;
    padding: 12px;
    padding-left: 15px;
}
.submit{
    width: 100%;
    background: #2F6CE5;
    border-radius: 20px;
    font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;

color: #FFFFFF;
padding: 12px 110px;
margin-top: 19px;
border: none;
}
.facebooklogin{
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 76px;
}
.facebookloginpadding{
    margin-bottom: 8px;

}
.otherlogincontent{
    padding-left: 10px;
}
.rightside{
    margin: 31px 36px 36px 0px;
}
.rightsidecontent{
    font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height */

text-align: right;

color: #3D3D3D;

}
.policyterms{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */

text-align: right;
letter-spacing: -0.008em;

color: #000000;
}
.blue{
    color: #2F6CE5;
    cursor: pointer;
}
.close{
    position: absolute;
    right: 0;
    top: -33px;
    color: white;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.fa-times-circle{
    color: white !important;
    opacity: 0.8;
}